
/* Your CSS Code here. */
.red{
	background-color:red;
	width
	
}
.holder{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.item{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	
}